<!DOCTYPE HTML>
<html><head><title>The Bug</title>
<link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>
    <h1>Control The Bug</h1>
    <h2>Boom arm</h2>
    <p><form>
        <input type="radio" name="boom" value="raise">Raise<br>
        <input type="radio" name="boom" value="lower">Lower    
    </form><br><br>
    <h2>Bug</h2>
    <form>
        <input type="radio" name="bug" value="Raise">Raise<br>
        <input type="radio" name="bug" value="Stop">Stop<br>
        <input type="radio" name="bug" value="Lower">Lower
    </form><p/>
</body>
</html>
